#!/usr/bin/env bash

export DIRENV_STATUS="started"

# python - make sure pyenv is set up correctly in the current shell within this directory and onward.
# See install-python-environment.sh for more information.

# macOS system python is harmful to us; avoid using system's python packages
unset PYTHONPATH

# macOS: prevent 'objc[27752]: +[__NSPlaceholderDate initialize] may have been in progress in another thread when fork() was called.'
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES


# Ensure a pinned and repo-controlled Go installation via a wrapper script. This MUST occur at the
# end of this script, lest the invocation of the rest of the '.envrc' might trigger a fetch of the
# pinned Go toolchain and stall 'direnv'.
#PATH_add "$(pwd)/tools/environment/go:${PATH}"

# We do not use Go modules (yet).
GOPATH="$(pwd)/src"
export GOPATH="${GOPATH}"
#export GOBIN="${GOPATH}/bin"
export GO111MODULE="auto"
#export GOPRIVATE="improbable.io"

# This is a no-op on Linux, but on Mac/Windows, it allows alpha versions of goss to run
export GOSS_USE_ALPHA=1

export DIRENV_STATUS="done"
