# git time metric, for people that use that. https://github.com/git-time-metric/gtm
/.gtm/
/src
/vendor
/html
/TESTS-*
/bazel-*

*.swp
*~
*#
.#*
.DS_Store
.idea/
.ijwb/
.vscode/
*.iml
npm-debug.log
toolbelt.log
go.sublime*
*.go-e
.gopath/
*.orig
.project/
*.code-workspace
*.tfstate
*.tfstate.*

**/node_modules/**

ci/reports
.gtm
.docker/

tools/loadtest/**/artifacts
jira-rollout-checkout*

tmp

.terraform
pwgen*

docs/index.md
docs/toc.md


bazel_perf_*
bazel_build_events.json

# Executables
*.exe

./github.com/
./golang.org/